<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#8400ff" />
    <meta name="shortcut icon" content="res/icon_128.png" />
    <title>now.</title>
    <link rel="apple-touch-icon" href="res/icon_512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="rgb(89, 255, 193)" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <nav>
      <h1>now.</h1>
    </nav>
    <div id="room-container">
      <p class="text">
        <a class="btn" href="#new-room-modal" style="float: right"
          ><span class="material-icons">add_circle_outline</span></a
        >
        <span style="float: left">Available Rooms:</span>
      </p>
      <% Object.keys(rooms).forEach(room => { %>
      <div class="room-item">
        <p class="room-label"><%= room %></p>
        <a class="btn" href="/<%= room %> "
          >Join <span class="material-icons">chevron_right</span></a
        >
      </div>
      <% }); %>
      <div class="modal-overlay" id="new-room-modal">
        <div class="modal">
          <a href="javascript.void(0)" class="modal-close">&times;</a>
          <p class="room-label">Create a new room:</p>
          <form action="/room" method="POST">
            <input
              type="text"
              name="room"
              id="input-create-room"
              placeholder="Enter room name"
              autocomplete="off"
              autofocus
              required
            /><button class="btn" type="submit">Create</button>
          </form>
        </div>
      </div>
      <a href="about.html" class="btn" style="float: right">About</a>
    </div>
  </body>
</html>
